[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = https://github.com/zeux/volk.git
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/VMA"]
	path = thirdparty/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/tinyobjloader"]
	path = thirdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "thirdparty/KTX-Software"]
	path = thirdparty/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
